@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,800|Open+San:400,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

pre {
  margin: 0 !important;
}

code[class*="language-"], pre[class*="language-"] {
  text-shadow: none !important;
}

blockquote {
  border-left: solid 5px #ccc;
  padding-left: 8px;
  margin-left: 0;
}

.story-box {
  position: relative;
  font-family: "Open Sans", sans-serif, Tahoma, Arial;
}

.story-box > div > div:last-child {
  display: none;
}

.story-hilite {
  border: dashed 1px #333;
  width: 100%;
}